
.team_member {
    /*background: rgba(199, 201, 209, .09);*/
    background-color: white;
    padding-bottom: 50px;
    overflow: hidden;
    padding-top: 100px;
}

.teamTitle {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    text-align: center;
}

.team_sub_title {
    font-family: Nunito, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.socialMedia {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #6b6b84;
    font-size: 18px;
    position: relative;
    border-radius: 50px;
    padding-top: 2px;
}

.socialMedia:hover {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #FF5D22;
    font-size: 18px;
    position: relative;
    border-radius: 50px;
    padding-top: 2px;

}

.socialMedia a:hover,
.socialMedia:hover {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #FF5D22;
    font-size: 18px;
    position: relative;
    border-radius: 50px;
    padding-top: 2px;

}