
.servicesArea {
    background-color: #f1f8fb;
    padding-top: 100px;
    padding-bottom: 70px;
    overflow: hidden;
    display: block;
}

.singleServicesBox {
    margin-bottom: 30px;
    padding: 50px 30px;
    border-radius: 5px;
    transition: .5s;
    border: 1px solid #f5f3f2;
    text-align: center;
    background-color: white;
}

.singleServicesBox p {
    margin-bottom: 5px;
}

.viewDetailsBtn {
    display: inline-block;
    color: #ff5d22;
    margin-top: 10px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
}

.viewDetailsBtn:hover {
    border-bottom-color: #ff5d22;
}

.singleServicesBox:hover {
    border: 1px solid #ff5d22;
}
