
.projectSection {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #FFFFFF;
    /*background-image: url("../../assets/banner/black-bg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*color: white;*/

}

.projectTitle {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

/* Responsive image gallery rules begin*/
.image_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image_gallery > li {
    flex-basis: 300px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
}

.image_gallery::after {
    content: "";
    flex-basis: 300px;
}

.image_gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover */
.image_gallery li:hover .overlay {
    transform: scale(1);
}

.clickHere {
    color: #ffffff;
}

.clickHere:hover {
    color: #ffffff;
}