
.topbar {
    background-color: #FEFCF8;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: black;
    padding: 8px;
}

.topbar .contact_info i {
    color: black;
}

.topbar .contact_info i a,
.topbar .contact_info i span {
    padding-left: 5px;
    color: black;
}

.topbar .contact_info i a {
    line-height: 0;
    transition: 0.3s;
}

.topbar .contact_info i a:hover {
    color: black;
    text-decoration: underline;
}

.topbar .social_links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.topbar .social_links a:hover {
    color: black;
}

.header {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.headerBackground {
    background: #2A3354;
    transition: all 0.5s;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.navLink {
    margin: 5px;
}

.navLink i {
    color: #2A3354;
    border-radius: 10px;
}

.navItem {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.navItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navItem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}