
.bgColor{
    background-color: #E9EBEC;
    color: black;
    padding: 70px;
    border-color: red;
}
.defaultBtn {
    border: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    border-radius: 5px;
    padding: 12px 35px 12px 35px;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(to left, #ff5d22 50%, #221638 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.defaultBtn:hover {
    border: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    border-radius: 5px;
    background-position: left;
    padding: 12px 35px 12px 35px;
    font-weight: 700;
    font-size: 16px;
}